
body {
    font-family: futura;
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 20px 75px 50px 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: futura;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.3em;
    line-height: 1.6;
    color: black;
}


#puzzle-of-the-week{
    float:right;
    font-size: 1em;
}

#contact-info{
    margin-left: 20%;
}

#logo{
	margin-right: 5%;
}

.puzzle{
    text-align: right;
    margin-right: 3%;
}

.puzz{

}

.txt {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.3em;
    color:#4169E1;
    font-family: "Helvetica Neue";
}

.right-a{
    text-align: right;
}

ul{
    list-style: solid circle;
    font-size: 1.7em;
    font-family: futura;
    color: #FF1493;
    line-height: 210%;
}

ul.li{
    margin: 0 0 100px 0; 
}

.description{
    color:#1E90FF;
}

.emi {
  color: #FF69B4
;
}

.em{
    color: #FF1493;
}

.c1{
	color:#808080;

}

.indent{
    position:relative;
    left:11%; 
    width:78%;
}

.textimg{
    display: inline-block;  
}



hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    #margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

.img-right {
	float: right;
    margin: 0 auto 0;
}

.img-center {
    float: center;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
    color: #A9A9A9;
    font-size: 1em;
}

@media screen and (min-width:1000px) {
    .brand {
        display: inherit;
        margin: 0;
        #padding: 10px 0 0px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: futura;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 30px;
    }
    .lesson_mobile{
		display: none;
	}

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }
    .img-right {
        #float: left;
        margin-right: -18%;
    }

    .address-bar {
        display: inherit;
        margin-top: 36px;
        padding: 0 0 40px;
        text-align: center;
        #text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #A9A9A9;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
        font-family: futura;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        #background: #fff;
        background: rgba(255,255,255,0.9);
        #background: #D3D3D3;
        border-bottom: 1px solid #D3D3D3;
        border-top: 1px solid #D3D3D3;
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (max-width: 1000px) {

	body{
		margin: 2px 5px 5px 5px;
	}
	
	#contact-info{
    	width: 22%;
    	height: 22%;
    	
	}
	
	#logo{
		width: 40%;
    	height: 40%;
    	margin-right: -10%;
	}
	
	#phone{
		font-size: 0.6em;
	}

	.brand {
        display: inherit;
        margin: 0;
        #padding: 10px 0 0px;
        text-align: right;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: futura;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 20px;
    }
    
    .text-right{
    	text-align: left;
    }
    .puzzle{
    	text-align: left;
    	margin-left: 35%;
	}
    
    .navbar {
        margin: 0 0 0 0px;
    }
    
    
    
    p{
    	font-size: 0.8em;
    }
    
    .em,.c1{
    	font-size: 0.6em;
	}
	
	.emi,ul{
		font-size:0.9em;
	}
	
	.lesson{
		display: none;
	}
	
    .top-divider {
        margin-top: 0;
    }

    .img-left {
        #float: left;
        margin-left: -10%;
    }
    .img-right {
        #float: left;
        margin-left: -10%;
    }

    .address-bar {
        display: inherit;
        margin-top: 20px;
        padding: 0 0 0 0px;
        text-align: center;
        #text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #A9A9A9;
    }




}


/*
@media screen and (min-width:481px) {
    .box:after {
        content: '';
        #display: table;
        clear: both;
        font-size: 0.5em;
        margin: 0px 0px 0px 0px;
    }
}